
.pane {
    -fx-background-color: #99ffff;
}

.jfx-button:hover {
    -fx-background-color: #D9D9D9;
}

.jfx-button {
    -fx-background-color: white;
}

.chart-series-line {
    -fx-stroke-width: 1px;
}


.default-color0.chart-series-line { -fx-stroke:  #0000FF, white; }

.default-color1.chart-series-line { -fx-stroke:  #00FF00, white; }

.default-color2.chart-series-line { -fx-stroke:  #FF0000, white; }


.default-color0.chart-line-symbol { -fx-background-color: #0000FF, white; }

.default-color1.chart-line-symbol { -fx-background-color: #00FF00, white; }

.default-color2.chart-line-symbol { -fx-background-color: #FF0000, white; }